:root {
            --vId-color-token-a: #850E35;
            --vId-color-token-b: #EE6983;
            --vId-5213400d-2e6c-416c-aa9a-7f9bdb176cc2: #f69696ff;
            --vId-e9fd7878-01a1-4505-bc29-0df0f1be2f3a: #FFF5E4;
            --vId-color-token-c: #FFFF;
            --vId-color-token-d: #000;
            --vId-font-token-a: Roboto;
        }